/*Comentario en CSS*/
*{
   
    box-sizing: border-box;
    margin: 0 auto;
    font-size: x-large;
    line-height: 150%;
}

body{ 
    font-family: 'Capriola', sans-serif;
    width: 100vw;
    height: 100vh;
    padding:1%;
}

header{
    width: 80%;
    height: 30%;
}

.perfil{
    background-color: rgb(215, 194, 243);
    height: 100%;
    border: black 5px solid;
    display: flex;
    align-items: center;
    
}

#cuadro1{
    background-color: rgb(191, 238, 238);
    width: 60%;
    height: 100%;
    display: flex;
    
}

h1{
    background-color: aqua;
    color: brown;
    height:100%;
    width: 50%;
    font-size: 310%;
    display: flex;
    align-items: center;
    
}

.datoscontacto{
    height: 100%;
    width: 100%;
    padding: 2%;
    border: red 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contacto{
    background-color: azure;
    height: 20%;
    font-size: 200%;
    padding-bottom: 10%;
}

#fotoperfil{
    display: flex;
    width: 38%;
    border-radius: 20%;
    transition-duration: 1000ms;
}
    #fotoperfil:hover{
        width: 42%;

}

.contenedor{
    background-color: yellow;
    width: 80%;
    height: 70%;

}

.titulo{
    font-size: 175%;
    width: 15%;
    padding: 1% 3% 0% 1%;
    border-right: 10px black solid;
}

.resumen{
    border-bottom: 10px black solid; ;
    display: inline-flex;
    
}

#resumen{
    padding: 2%;
    font-size: 140%;
    text-align: justify;
}

.seccionlaboral{
    border-bottom: 10px black solid; ;
    display: flex;
}

.experiencia{
    padding: 2%;
    text-align: justify;
}

.labor{
    font-size: 160%;
}

li{
    padding: 2%;
    font-size: 160%;
    text-align: justify;
}
.contenedor2{
    padding: 2%;
    display: flex;
    flex-direction: column;
    background-color: rebeccapurple;
}


footer{
    height: 5%;
}